html {
  min-height: 100%;
}

body {
  background: url("../images/background-interior.png") no-repeat;
  background-size: cover;
  color: #02577c;
  font-family: "Segoe UI", Arial;
}

#splash {
  background: url("../images/background.png") no-repeat left top;
  background-size: cover;
}

body > .container {
  /*padding-top: 60px;*/
  padding-top: 5px;
}

h1 {
  padding: 0;
  margin: 0;
}

p>a {
  color: #f05331;
  text-decoration: underline;
}

nav {
  padding-top: 15px;
}

.nav>li>a:hover {
  background-color: transparent;
  text-decoration: underline;
}

#content {
  margin-top: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: .8em;
    color: #f4f4f4;
}


/* -- Splash -- */
h2.splash-content-heading {
  font-family: Arial;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px #000;
}
